
#text-input {
    margin: 20px 0 20px 0;
}

.well {
    margin-top: 20px;
}

.emo-class {
    background: url('/img/emoticons.gif') no-repeat -6px -28px;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.emoticon-smile {
    background-position: -6px -28px;
}

.emoticon-surprised {
    background-position: -7px -54px;
}

.emoticon-wink {
    background-position: -7px -79px;
}

.emoticon-confused {
    background-position: -7px -104px;
}

.emoticon-crying {
    background-position: -7px -129px;
}

.emoticon-h {
    background-position: -7px -154px;
}

.emoticon-a {
    background-position: -8px -179px;
}